<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="ad-styles.css">
    <title>Document</title>
</head>
<body>
    <div class="ad-news">
        <div class="News-inp">
            <h2>Enter News Content:</h2>
            <form action="/addNews" method="post">
                <label for="">News Image URL:</label>
                <input type="text" name="image" id="" required><br><br>
                <label for="">News Title:</label>
                <input type="text" name="title" id="" required><br><br>
                <label for="">News Author:</label>
                <input type="text" name="author" id="" required><br><br>
                <label for="">Date:</label>
                <input type="text" name="date" id="" required><br><br>
                <label for="">News Intro:</label><br><br>
                <textarea name="description" id="" cols="60" rows="6" required></textarea><br><br>
                <label for="">Whole News:</label><br><br>
                <textarea name="all" id="" cols="60" rows="12" required></textarea><br><br>
                <label for="">Author Image URL:</label>
                <input type="text" name="authorImg" id="" required><br><br>
                <input class="submit" type="submit" name="" id="" value="Add">
            </form>
       
        </div>
        <div>
            <h2>Enter Announcement:</h2>
            <form action="/addAnnounce" method="post">
                <label for="">Announcement:</label><br><br>
                <textarea name="description" id="" cols="70" rows="6" required></textarea><br><br>
                <input class="submit" type="submit" name="" id="" value="Add">
            </form>
            
        </div>
    
    </div>
    

    
</div>
</body>
</html>